# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HelixJump.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\meanx\Desktop\Projects\UnityProjects\HelixJump\.idea\.idea.HelixJump\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
